This code was run multiple times with manual modifications, to gather weather data for London-based teams. I downloaded  It will no longer run, as the API key has been reset.

In [16]:
import pandas as pd
import requests
import datetime
import json
import numpy as np
from os.path import isfile
import time

In [2]:
with open('PLmatches.csv', 'r') as open_file:
    df = pd.read_csv(open_file, index_col=0)

In [1]:
API_key = '1c0e0cc4529f6cafd3ab0ef69720cb2a'

In [55]:
def get_row_weather(row):
    #time.sleep(0.01)
    completed_teams = ['Arsenal', 'Tottenham Hotspur', 'West Ham United', 'Crystal Palace', 'Fulham', 'Charlton Athletic', 'Chelsea', 'Queens Park Rangers']
    if row['hometeam_name'] in completed_teams:
        return pd.Series({"precip_prob": row['precip_prob'], "temp_high": row['temp_high']})
    if row['hometeam_name'] != 'Watford':
        return pd.Series({"precip_prob": np.nan, "temp_high": np.nan})
    match_time = datetime.datetime.utcfromtimestamp(row['match_timestamp']//1000)
    match_midnight = match_time.replace(hour=0, minute=0, second=0)
    match_midnight = match_midnight + datetime.timedelta(days=1) #oops, the data is from the previous day
    mdnt_ts = int(match_midnight.timestamp())
    Ndec = str(row['Ndec'])
    Wdec = str(row['Wdec'])

    if isfile(f'london_weatherdata/{mdnt_ts}.json'):
        print(f'opening {mdnt_ts} from file')
        with open(f'london_weatherdata/{mdnt_ts}.json') as open_file:
            weather = json.load(open_file)
    else:
        print(f'querying for {mdnt_ts}')
        test = requests.get(f'https://api.darksky.net/forecast/{API_key}/{Ndec},{Wdec},{mdnt_ts}')
        weather = test.json()

        with open(f'london_weatherdata/{mdnt_ts}.json', 'w') as open_file:
            json.dump(weather, open_file)
    try:
        precip_prob = weather['daily']['data'][0]['precipProbability']
    except KeyError:
        precip_prob = np.nan
    try:
        temp_high = weather['daily']['data'][0]['temperatureHigh']
    except KeyError:
        temp_high = np.nan
        
    return pd.Series({"precip_prob": precip_prob, "temp_high": temp_high})

In [59]:
df[['precip_prob', 'temp_high']] = df.apply(get_row_weather, axis=1)

opening 1156316400 from file
opening 1156662000 from file
opening 1158476400 from file
opening 1159858800 from file
opening 1162105200 from file
opening 1162713600 from file
opening 1164787200 from file
opening 1165737600 from file
opening 1167206400 from file
opening 1168761600 from file
opening 1169625600 from file
opening 1170576000 from file
opening 1172131200 from file
opening 1172390400 from file
opening 1172995200 from file
opening 1175410800 from file
opening 1176188400 from file
opening 1177225200 from file
opening 1179126000 from file
opening 1439708400 from file
opening 1440399600 from file
opening 1442127600 from file
opening 1443423600 from file
opening 1445151600 from file
opening 1446361200 from file
opening 1448179200 from file
opening 1449388800 from file
opening 1450684800 from file
opening 1451376000 from file
opening 1451808000 from file
opening 1453622400 from file
querying for 1454572800
opening 1456646400 from file
opening 1457251200 from file
opening 1458457200 from file
opening 1460271600 from file
opening 1462086000 from file
opening 1463382000 from file
opening 1471762800 from file
opening 1472367600 from file
opening 1474268400 from file
opening 1475391600 from file
opening 1477810800 from file
opening 1479628800 from file
opening 1480320000 from file
opening 1481443200 from file
opening 1482825600 from file
opening 1483344000 from file
opening 1484467200 from file
opening 1486281600 from file
opening 1488096000 from file
querying for 1488700800
opening 1491116400 from file
opening 1491375600 from file
opening 1492326000 from file
querying for 1493708400
opening 1495436400 from file
opening 1502607600 from file
opening 1503817200 from file
opening 1505631600 from file
opening 1508050800 from file
opening 1509260400 from file
querying for 1511164800
opening 1511942400 from file
opening 1512288000 from file
opening 1513497600 from file
opening 1514361600 from file
opening 1514707200 from file
opening 1515916800 from file
querying for 1517904000
querying for 1519545600
opening 1520150400 from file
opening 1522566000 from file
opening 1523170800 from file
opening 1524380400 from file
opening 1525590000 from file

In [49]:
df[df['hometeam_name'] == 'Crystal Palace']

,hometeam_name,awayteam_name,home_goals,away_goals,match_date,match_timestamp,match_referee,match_stadium,match_attendance,home_possession,...,away_Ndec,away_Wdec,away_distance,precip_prob,temp_high,week_power,home_last3_leaguepts,away_last3_leaguepts,home_leaguepts_gained,away_leaguepts_gained
9239,Crystal Palace,Tottenham Hotspur,0,1,Sun 18 Aug 2013,1376829000000,Mark Clattenburg,"Selhurst Park, London",23285.0,41.8,...,51.5558,-0.2797,22.111220,NaN,NaN,10,NaN,2.333333,0,3
9253,Crystal Palace,Sunderland,3,1,Sat 31 Aug 2013,1377966600000,Lee Probert,"Selhurst Park, London",22671.0,50.0,...,54.9144,-1.3883,400.870512,NaN,NaN,8,0.000000,0.333333,3,0
9279,Crystal Palace,Swansea City,0,2,Sun 22 Sep 2013,1379853000000,Kevin Friend,"Selhurst Park, London",22466.0,43.4,...,51.6422,-3.9351,268.535404,NaN,NaN,6,1.000000,1.333333,0,3
9310,Crystal Palace,Fulham,1,4,Mon 21 Oct 2013,1382382000000,Lee Mason,"Selhurst Park, London",24881.0,45.9,...,51.4750,-0.2217,12.743033,NaN,NaN,3,0.000000,1.000000,0,3
9312,Crystal Palace,Arsenal,0,2,Sat 26 Oct 2013,1382787900000,Chris Foy,"Selhurst Park, London",20050.0,37.5,...,51.5550,-0.1086,17.507111,NaN,NaN,2,0.000000,2.333333,0,3
9333,Crystal Palace,Everton,0,0,Sat 9 Nov 2013,1384009200000,Craig Pawson,"Selhurst Park, London",25231.0,27.2,...,53.4389,-2.9664,299.908406,NaN,NaN,0,0.000000,2.333333,1,1
9361,Crystal Palace,West Ham United,1,0,Tue 3 Dec 2013,1386100800000,Lee Mason,"Selhurst Park, London",23891.0,37.0,...,51.5386,-0.0164,16.333267,NaN,NaN,3,1.333333,1.000000,3,0
9371,Crystal Palace,Cardiff City,2,0,Sat 7 Dec 2013,1386428400000,Mike Jones,"Selhurst Park, London",23705.0,43.7,...,51.4728,-3.2031,216.927981,NaN,NaN,4,2.000000,0.666667,3,0
9391,Crystal Palace,Newcastle United,0,3,Sat 21 Dec 2013,1387638000000,Neil Swarbrick,"Selhurst Park, London",24936.0,33.1,...,54.9756,-1.6217,411.118602,NaN,NaN,6,2.000000,1.333333,0,3
9422,Crystal Palace,Norwich City,1,1,Wed 1 Jan 2014,1388588400000,Mike Dean,"Selhurst Park, London",25189.0,45.1,...,52.6221,1.3087,166.448454,NaN,NaN,9,1.000000,0.333333,1,1
9442,Crystal Palace,Stoke City,1,0,Sat 18 Jan 2014,1390057200000,Lee Mason,"Selhurst Park, London",24440.0,43.7,...,52.9883,-2.1756,227.414350,NaN,NaN,11,0.333333,0.333333,3,0
9451,Crystal Palace,Hull City,1,0,Tue 28 Jan 2014,1390939200000,Roger East,"Selhurst Park, London",22519.0,37.5,...,53.7461,-0.3678,261.957905,NaN,NaN,12,1.333333,0.000000,3,0
9473,Crystal Palace,West Bromwich Albion,3,1,Sat 8 Feb 2014,1391871600000,Chris Foy,"Selhurst Park, London",24501.0,34.0,...,52.5092,-1.9639,178.743329,NaN,NaN,14,2.000000,0.666667,3,0
9492,Crystal Palace,Manchester United,0,2,Sat 22 Feb 2014,1393090200000,Michael Oliver,"Selhurst Park, London",24571.0,33.5,...,53.4631,-2.2914,274.378197,NaN,NaN,16,2.000000,0.666667,0,3
9509,Crystal Palace,Southampton,0,1,Sat 8 Mar 2014,1394290800000,Howard Webb,"Selhurst Park, London",25073.0,35.7,...,50.9058,-1.3911,106.513620,NaN,NaN,18,1.333333,1.000000,0,3
9538,Crystal Palace,Chelsea,1,0,Sat 29 Mar 2014,1396105200000,Lee Mason,"Selhurst Park, London",25166.0,33.0,...,51.4817,-0.1911,11.828233,NaN,NaN,22,0.333333,2.000000,3,0
9557,Crystal Palace,Aston Villa,1,0,Sat 12 Apr 2014,1397311620000,Howard Webb,"Selhurst Park, London",25564.0,42.9,...,52.5092,-1.8847,174.851413,NaN,NaN,24,2.000000,0.000000,3,0
9584,Crystal Palace,Manchester City,0,2,Sun 27 Apr 2014,1398611400000,Howard Webb,"Selhurst Park, London",24769.0,46.4,...,53.4831,-2.2003,272.914161,NaN,NaN,27,3.000000,1.333333,0,3
9597,Crystal Palace,Liverpool,3,3,Mon 5 May 2014,1399316400000,Mark Clattenburg,"Selhurst Park, London",25261.0,34.9,...,53.4308,-2.9608,298.989307,NaN,NaN,28,2.000000,2.000000,1,1
9623,Crystal Palace,West Ham United,1,3,Sat 23 Aug 2014,1408802400000,Mark Clattenburg,"Selhurst Park, London",24242.0,45.9,...,51.5386,-0.0164,16.333267,NaN,NaN,9,0.666667,1.000000,0,3
9643,Crystal Palace,Burnley,0,0,Sat 13 Sep 2014,1410616800000,Mike Dean,"Selhurst Park, London",23829.0,44.8,...,53.7892,-2.2303,303.130731,NaN,NaN,7,0.333333,0.333333,1,1
9663,Crystal Palace,Leicester City,2,0,Sat 27 Sep 2014,1411826400000,Keith Stroud,"Selhurst Park, London",24311.0,39.6,...,52.6203,-1.1422,154.109681,NaN,NaN,5,1.666667,2.333333,3,0
9683,Crystal Palace,Chelsea,1,2,Sat 18 Oct 2014,1413640800000,Craig Pawson,"Selhurst Park, London",24451.0,28.5,...,51.4817,-0.1911,11.828233,NaN,NaN,3,2.000000,2.333333,0,3
9710,Crystal Palace,Sunderland,1,3,Mon 3 Nov 2014,1415044800000,Phil Dowd,"Selhurst Park, London",23212.0,53.5,...,54.9144,-1.3883,400.870512,NaN,NaN,1,0.333333,1.000000,0,3
9728,Crystal Palace,Liverpool,3,1,Sun 23 Nov 2014,1416749400000,Jonathan Moss,"Selhurst Park, London",24862.0,36.4,...,53.4308,-2.9608,298.989307,NaN,NaN,1,0.333333,0.333333,3,0
9742,Crystal Palace,Aston Villa,0,1,Tue 2 Dec 2014,1417550400000,Michael Oliver,"Selhurst Park, London",23935.0,46.2,...,52.5092,-1.8847,174.851413,NaN,NaN,3,1.333333,1.000000,0,3
9764,Crystal Palace,Stoke City,1,1,Sat 13 Dec 2014,1418482800000,Kevin Friend,"Selhurst Park, London",23038.0,43.9,...,52.9883,-2.1756,227.414350,NaN,NaN,5,0.666667,1.000000,1,1
9784,Crystal Palace,Southampton,1,3,Fri 26 Dec 2014,1419606000000,Mike Dean,"Selhurst Park, London",24565.0,42.9,...,50.9058,-1.3911,106.513620,NaN,NaN,7,0.666667,1.000000,0,3
9813,Crystal Palace,Tottenham Hotspur,2,1,Sat 10 Jan 2015,1420911000000,Anthony Taylor,"Selhurst Park, London",24193.0,41.6,...,51.5558,-0.2797,22.111220,NaN,NaN,10,0.666667,2.333333,3,0
9832,Crystal Palace,Everton,0,1,Sat 31 Jan 2015,1422716400000,Roger East,"Selhurst Park, London",25197.0,54.1,...,53.4389,-2.9664,299.908406,NaN,NaN,12,2.333333,0.666667,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14201,Crystal Palace,Chelsea,0,1,Sat 17 Dec 2016,1481977800000,Jonathan Moss,"Selhurst Park, London",25259.0,53.5,...,51.4817,-0.1911,11.828233,NaN,NaN,6,1.333333,3.000000,0,3
14231,Crystal Palace,Swansea City,1,2,Tue 3 Jan 2017,1483473600000,Paul Tierney,"Selhurst Park, London",24913.0,47.1,...,51.6422,-3.9351,268.535404,NaN,NaN,9,0.333333,0.000000,0,3
14253,Crystal Palace,Everton,0,1,Sat 21 Jan 2017,1485010800000,Anthony Taylor,"Selhurst Park, London",25594.0,44.0,...,53.4389,-2.9664,299.908406,NaN,NaN,11,0.000000,2.333333,0,3
14271,Crystal Palace,Sunderland,0,4,Sat 4 Feb 2017,1486220400000,Andre Marriner,"Selhurst Park, London",25310.0,65.7,...,54.9144,-1.3883,400.870512,NaN,NaN,13,1.000000,0.333333,0,3
14291,Crystal Palace,Middlesbrough,1,0,Sat 25 Feb 2017,1488034800000,Robert Madley,"Selhurst Park, London",25416.0,45.6,...,54.5783,-1.2169,361.939415,NaN,NaN,15,1.000000,0.666667,3,0
14314,Crystal Palace,Tottenham Hotspur,0,1,Wed 26 Apr 2017,1493233200000,Jonathan Moss,"Selhurst Park, London",25596.0,31.1,...,51.5558,-0.2797,22.111220,NaN,NaN,23,2.333333,3.000000,0,3
14321,Crystal Palace,Watford,1,0,Sat 18 Mar 2017,1489849200000,Martin Atkinson,"Selhurst Park, London",25109.0,43.0,...,51.6498,-0.4015,35.547854,NaN,NaN,18,2.000000,0.333333,3,0
14351,Crystal Palace,Arsenal,3,0,Mon 10 Apr 2017,1491850800000,Michael Oliver,"Selhurst Park, London",25648.0,27.8,...,51.5550,-0.1086,17.507111,NaN,NaN,21,2.000000,1.333333,3,0
14360,Crystal Palace,Leicester City,2,2,Sat 15 Apr 2017,1492264800000,Mike Dean,"Selhurst Park, London",25504.0,57.9,...,52.6203,-1.1422,154.109681,NaN,NaN,22,2.000000,2.000000,1,1
14380,Crystal Palace,Burnley,0,2,Sat 29 Apr 2017,1493483400000,Robert Madley,"Selhurst Park, London",25013.0,63.5,...,53.7892,-2.2303,303.130731,NaN,NaN,24,1.333333,0.333333,0,3
14401,Crystal Palace,Hull City,4,0,Sun 14 May 2017,1494759600000,Martin Atkinson,"Selhurst Park, London",25176.0,29.7,...,53.7461,-0.3678,261.957905,NaN,NaN,26,0.000000,1.333333,3,0
22345,Crystal Palace,Huddersfield Town,0,3,Sat 12 Aug 2017,1502546400000,Jonathan Moss,"Selhurst Park, London",25448.0,56.7,...,53.6542,-1.7683,275.768114,NaN,NaN,10,1.000000,NaN,0,3
22364,Crystal Palace,Swansea City,0,2,Sat 26 Aug 2017,1503756000000,Andre Marriner,"Selhurst Park, London",23477.0,53.1,...,51.6422,-3.9351,268.535404,NaN,NaN,8,0.000000,1.333333,0,3
22384,Crystal Palace,Southampton,0,1,Sat 16 Sep 2017,1505561400000,Robert Madley,"Selhurst Park, London",24199.0,45.6,...,50.9058,-1.3911,106.513620,NaN,NaN,6,0.000000,1.333333,0,3
22414,Crystal Palace,Chelsea,2,1,Sat 14 Oct 2017,1507989600000,Andre Marriner,"Selhurst Park, London",25480.0,43.0,...,51.4817,-0.1911,11.828233,NaN,NaN,3,0.000000,1.333333,3,0
22436,Crystal Palace,West Ham United,2,2,Sat 28 Oct 2017,1509199200000,Robert Madley,"Selhurst Park, London",25242.0,55.9,...,51.5386,-0.0164,16.333267,NaN,NaN,1,1.000000,1.333333,1,1
22456,Crystal Palace,Everton,2,2,Sat 18 Nov 2017,1511017200000,Anthony Taylor,"Selhurst Park, London",25526.0,68.7,...,53.4389,-2.9664,299.908406,NaN,NaN,1,0.333333,1.000000,1,1
22463,Crystal Palace,Stoke City,2,1,Sat 25 Nov 2017,1511622000000,Mike Dean,"Selhurst Park, London",23723.0,54.0,...,52.9883,-2.1756,227.414350,NaN,NaN,2,0.666667,1.666667,3,0
22493,Crystal Palace,AFC Bournemouth,2,2,Sat 9 Dec 2017,1512831600000,Kevin Friend,"Selhurst Park, London",24823.0,45.1,...,50.7353,-1.8383,143.293117,NaN,NaN,5,1.666667,0.666667,1,1
22503,Crystal Palace,Watford,2,1,Tue 12 Dec 2017,1513108800000,Lee Mason,"Selhurst Park, London",23566.0,53.6,...,51.6498,-0.4015,35.547854,NaN,NaN,6,1.000000,0.333333,3,0
22534,Crystal Palace,Arsenal,2,3,Thu 28 Dec 2017,1514491200000,Michael Oliver,"Selhurst Park, London",25762.0,34.8,...,51.5550,-0.1086,17.507111,NaN,NaN,9,2.333333,1.666667,0,3
22544,Crystal Palace,Manchester City,0,0,Sun 31 Dec 2017,1514721600000,Jonathan Moss,"Selhurst Park, London",25804.0,25.5,...,53.4831,-2.2003,272.914161,NaN,NaN,10,1.333333,3.000000,1,1
22564,Crystal Palace,Burnley,1,0,Sat 13 Jan 2018,1515855600000,Michael Oliver,"Selhurst Park, London",24696.0,44.2,...,53.7892,-2.2303,303.130731,NaN,NaN,12,1.333333,0.666667,3,0
22596,Crystal Palace,Newcastle United,1,1,Sun 4 Feb 2018,1517753700000,Andre Marriner,"Selhurst Park, London",25746.0,54.3,...,54.9756,-1.6217,411.118602,NaN,NaN,15,1.333333,0.666667,1,1
22616,Crystal Palace,Tottenham Hotspur,0,1,Sun 25 Feb 2018,1519560000000,Kevin Friend,"Selhurst Park, London",25287.0,23.8,...,51.5558,-0.2797,22.111220,NaN,NaN,17,0.666667,2.333333,0,3
22624,Crystal Palace,Manchester United,2,3,Mon 5 Mar 2018,1520280000000,Neil Swarbrick,"Selhurst Park, London",25840.0,30.5,...,53.4631,-2.2914,274.378197,NaN,NaN,18,0.333333,2.000000,0,3
22655,Crystal Palace,Liverpool,1,2,Sat 31 Mar 2018,1522495800000,Neil Swarbrick,"Selhurst Park, London",25807.0,32.2,...,53.4308,-2.9608,298.989307,NaN,NaN,21,1.000000,2.000000,0,3
22673,Crystal Palace,Brighton and Hove Albion,3,2,Sat 14 Apr 2018,1523714400000,Andre Marriner,"Selhurst Park, London",24656.0,50.2,...,50.8618,-0.0833,59.686252,NaN,NaN,23,1.333333,0.333333,3,0
22693,Crystal Palace,Leicester City,5,0,Sat 28 Apr 2018,1524924000000,Mike Dean,"Selhurst Park, London",25750.0,50.5,...,52.6203,-1.1422,154.109681,NaN,NaN,25,1.666667,0.333333,3,0
22713,Crystal Palace,West Bromwich Albion,2,0,Sun 13 May 2018,1526220000000,Jonathan Moss,"Selhurst Park, London",25357.0,59.2,...,52.5092,-1.9639,178.743329,NaN,NaN,27,2.333333,2.333333,3,0

In [180]:
df.sample(10)

,hometeam_name,awayteam_name,home_goals,away_goals,match_date,match_timestamp,match_referee,match_stadium,match_attendance,home_possession,...,away_last3_goals,home_last3_poss,away_last3_poss,Ndec,Wdec,away_Ndec,away_Wdec,away_distance,precip_prob,temp_high
6300,Sunderland,Middlesbrough,3,2,Sat 26 Apr 2008,1209218400000,Steve Bennett,"Stadium of Light, Sunderland",NaN,60.1,...,1.000000,45.100000,48.666667,54.9144,-1.3883,54.5783,-1.2169,39.008398,NaN,NaN
9850,West Ham United,Manchester United,1,1,Sun 8 Feb 2015,1423412100000,Mark Clattenburg,"Boleyn Ground, London",34499.0,41.2,...,1.666667,42.400000,64.533333,51.5319,0.0394,53.4631,-2.2914,266.873365,NaN,NaN
6199,Everton,Reading,1,0,Sat 9 Feb 2008,1202569200000,Mark Halsey,"Goodison Park, Liverpool",NaN,50.2,...,0.000000,45.366667,45.866667,53.4389,-2.9664,51.4222,-0.9828,261.820676,NaN,NaN
5867,Charlton Athletic,Wigan Athletic,1,0,Sat 31 Mar 2007,1175349600000,Peter Walton,"The Valley, London",26500.0,54.2,...,0.666667,44.700000,47.533333,51.4864,0.0364,53.5478,-2.6539,293.164434,NaN,NaN
9611,Arsenal,Crystal Palace,2,1,Sat 16 Aug 2014,1408206600000,Jonathan Moss,"Emirates Stadium, London",59962.0,76.9,...,1.666667,61.366667,38.400000,51.5550,-0.1086,51.3983,-0.0856,17.507111,0.64,67.75
14194,West Bromwich Albion,Swansea City,3,1,Wed 14 Dec 2016,1481745600000,Michael Oliver,"The Hawthorns, West Bromwich",21467.0,39.5,...,2.666667,40.033333,52.733333,52.5092,-1.9639,51.6422,-3.9351,166.038238,NaN,NaN
9564,Swansea City,Chelsea,0,1,Sun 13 Apr 2014,1397401620000,Phil Dowd,"Liberty Stadium, Swansea",20761.0,38.2,...,3.000000,51.700000,57.033333,51.6422,-3.9351,51.4817,-0.1911,260.217263,NaN,NaN
8231,Sunderland,Southampton,1,1,Sun 12 May 2013,1368367200000,Mike Dean,"Stadium of Light, Sunderland",41988.0,36.0,...,0.000000,42.833333,52.500000,54.9144,-1.3883,50.9058,-1.3911,446.094906,NaN,NaN
6744,Liverpool,Burnley,4,0,Sat 12 Sep 2009,1252764000000,Lee Mason,"Anfield, Liverpool",43817.0,60.4,...,0.666667,73.700000,37.966667,53.4308,-2.9608,53.7892,-2.2303,62.679871,NaN,NaN
14290,Chelsea,Swansea City,3,1,Sat 25 Feb 2017,1488034800000,Neil Swarbrick,"Stamford Bridge, London",41612.0,65.6,...,1.666667,50.333333,41.100000,51.4817,-0.1911,51.6422,-3.9351,260.217263,NaN,NaN

In [60]:
with open('PLmatches.csv', 'w') as open_file:
    df.to_csv(open_file)