In [1]:
import pandas as pd
import numpy as np
from math import isnan

In [2]:
with open('PLmatches.csv') as open_file:
    df = pd.read_csv(open_file, index_col=0)

In [3]:
def get_prior_matches(team_name, season_num, match_timestamp, num_matches=38):
    all_prior_matches = df[((df['hometeam_name'] == team_name)|(df['awayteam_name'] == team_name))
                           #&(df['season_num'] == season_num)
                          &(df['match_timestamp'] < match_timestamp)].sort_values(by='match_timestamp')
    
    return all_prior_matches[-num_matches:]

In [4]:
def get_mean_value_by_team(data, team_name, col_name):
    values = []
    for row_index in list(data.index.values):
        if data.loc[row_index, 'hometeam_name'] != team_name and data.loc[row_index, 'awayteam_name'] != team_name:
            continue
        team_loc = 'home' if data.loc[row_index, 'hometeam_name'] == team_name else 'away'
        values.append(data.loc[row_index, '_'.join([team_loc, col_name])])
    
    return np.mean(values)

def get_values_by_team(data, team_name, col_name):
    values = []
    for row_index in data.index.values:
        if data.loc[row_index, 'hometeam_name'] != team_name and data.loc[row_index, 'awayteam_name'] != team_name:
            continue
        team_loc = 'home' if data.loc[row_index, 'hometeam_name'] == team_name else 'away'
        values.append(data.loc[row_index, '_'.join([team_loc, col_name])])
    
    return values

In [10]:
def assign_home_leaguepts_gained(row):
    score_diff = row['home_goals'] - row['away_goals']
    if score_diff > 0:
        return 3
    elif score_diff < 0:
        return 0
    else: return 1

def assign_away_leaguepts_gained(row):
    score_diff = row['away_goals'] - row['home_goals']
    if score_diff > 0:
        return 3
    elif score_diff < 0:
        return 0
    else: return 1

In [12]:
df['home_leaguepts_gained'] = df.apply(assign_home_leaguepts_gained, axis=1)
df['away_leaguepts_gained'] = df.apply(assign_away_leaguepts_gained, axis=1)

In [14]:
def get_last3_home_leaguepts(row):
    team_name = row['hometeam_name']
    season_num = row['season_num']
    cur_timestamp = row['match_timestamp']
    
    df_lastgame = get_prior_matches(team_name, season_num, cur_timestamp, 3)
    
    return get_mean_value_by_team(df_lastgame, team_name, 'leaguepts_gained')

def get_last3_away_leaguepts(row):
    team_name = row['awayteam_name']
    season_num = row['season_num']
    cur_timestamp = row['match_timestamp']
    
    df_lastgame = get_prior_matches(team_name, season_num, cur_timestamp, 3)
    
    return get_mean_value_by_team(df_lastgame, team_name, 'leaguepts_gained')

In [15]:
df['home_last3_leaguepts'] = df.apply(get_last3_home_leaguepts, axis=1)

/home/dlahtou/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/dlahtou/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [16]:
df['away_last3_leaguepts'] = df.apply(get_last3_away_leaguepts, axis=1)

/home/dlahtou/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/dlahtou/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [17]:
df[((df['hometeam_name'] == 'Aston Villa')|(df['awayteam_name'] == 'Aston Villa'))&(df['season_num'] == 4)]

,hometeam_name,awayteam_name,home_goals,away_goals,match_date,match_timestamp,match_referee,match_stadium,match_attendance,home_possession,...,away_Ndec,away_Wdec,away_distance,precip_prob,temp_high,week_power,home_last3_leaguepts,away_last3_leaguepts,home_leaguepts_gained,away_leaguepts_gained
6707,Aston Villa,Wigan Athletic,0,2,Sat 15 Aug 2009,1250344800000,Mark Clattenburg,"Villa Park, Birmingham",35578.0,47.0,...,53.5478,-2.6539,126.578835,NaN,NaN,10,1.333333,1.000000,0,3
6732,Liverpool,Aston Villa,1,3,Mon 24 Aug 2009,1251140400000,Martin Atkinson,"Anfield, Liverpool",43667.0,67.4,...,52.5092,-1.8847,125.477915,NaN,NaN,8,2.000000,1.333333,0,3
6740,Aston Villa,Fulham,2,0,Sun 30 Aug 2009,1251644400000,Steve Bennett,"Villa Park, Birmingham",32917.0,44.1,...,51.4750,-0.2217,162.135406,NaN,NaN,7,2.000000,1.000000,3,0
6751,Birmingham City,Aston Villa,0,1,Sun 13 Sep 2009,1252839600000,Howard Webb,"St Andrews, Birmingham",25196.0,50.3,...,52.5092,-1.8847,3.892590,NaN,NaN,6,1.333333,2.000000,0,3
6754,Aston Villa,Portsmouth,2,0,Sat 19 Sep 2009,1253368800000,Stuart Attwell,"Villa Park, Birmingham",35979.0,49.0,...,50.7964,-1.0639,198.850232,NaN,NaN,5,3.000000,0.000000,3,0
6764,Blackburn Rovers,Aston Villa,2,1,Sat 26 Sep 2009,1253973600000,Mark Clattenburg,"Ewood Park, Blackburn",25172.0,47.5,...,52.5092,-1.8847,141.610560,NaN,NaN,4,1.333333,3.000000,3,0
6782,Aston Villa,Manchester City,1,1,Mon 5 Oct 2009,1254769200000,Mike Dean,"Villa Park, Birmingham",37924.0,43.8,...,53.4831,-2.2003,110.433417,NaN,NaN,3,2.000000,2.000000,1,1
6784,Aston Villa,Chelsea,2,1,Sat 17 Oct 2009,1255779900000,Kevin Friend,"Villa Park, Birmingham",39047.0,34.5,...,51.4817,-0.1911,163.093243,NaN,NaN,2,1.333333,2.000000,3,0
6798,Wolverhampton Wanderers,Aston Villa,1,1,Sat 24 Oct 2009,1256384700000,Peter Walton,"Molineux Stadium, Wolverhampton",28734.0,48.4,...,52.5092,-1.8847,18.947198,NaN,NaN,1,0.333333,1.333333,1,1
6806,Everton,Aston Villa,1,1,Sat 31 Oct 2009,1257001200000,Lee Probert,"Goodison Park, Liverpool",36648.0,47.7,...,52.5092,-1.8847,126.427711,NaN,NaN,0,0.666667,1.666667,1,1
6813,West Ham United,Aston Villa,2,1,Wed 4 Nov 2009,1257363900000,Steve Bennett,"Boleyn Ground, London",30024.0,54.2,...,52.5092,-1.8847,171.076492,NaN,NaN,0,0.666667,1.666667,3,0
6814,Aston Villa,Bolton Wanderers,5,1,Sat 7 Nov 2009,1257606000000,Mark Clattenburg,"Villa Park, Birmingham",38101.0,56.6,...,53.5806,-2.5356,126.971814,NaN,NaN,1,0.666667,1.000000,3,0
6825,Burnley,Aston Villa,1,1,Sat 21 Nov 2009,1258815600000,Howard Webb,"Turf Moor, Burnley",21178.0,47.4,...,52.5092,-1.8847,144.313941,NaN,NaN,2,1.333333,1.333333,1,1
6836,Aston Villa,Tottenham Hotspur,1,1,Sat 28 Nov 2009,1259429400000,Phil Dowd,"Villa Park, Birmingham",39866.0,36.6,...,51.5558,-0.2797,152.918561,NaN,NaN,3,1.333333,2.000000,1,1
6847,Aston Villa,Hull City,3,0,Sat 5 Dec 2009,1260025200000,Stuart Attwell,"Villa Park, Birmingham",39748.0,47.3,...,53.7461,-0.3678,171.043114,NaN,NaN,4,1.666667,1.666667,3,0
6861,Manchester United,Aston Villa,0,1,Sat 12 Dec 2009,1260639000000,Martin Atkinson,"Old Trafford, Manchester",75130.0,67.2,...,52.5092,-1.8847,109.612729,NaN,NaN,5,3.000000,1.666667,0,3
6869,Sunderland,Aston Villa,0,2,Tue 15 Dec 2009,1260906300000,Kevin Friend,"Stadium of Light, Sunderland",34821.0,57.6,...,52.5092,-1.8847,269.694865,NaN,NaN,6,0.333333,2.333333,0,3
6875,Aston Villa,Stoke City,1,0,Sat 19 Dec 2009,1261234800000,Lee Probert,"Villa Park, Birmingham",35852.0,53.0,...,52.9883,-2.1756,56.818449,NaN,NaN,7,3.000000,0.666667,3,0
6891,Arsenal,Aston Villa,3,0,Sun 27 Dec 2009,1261920600000,Phil Dowd,"Emirates Stadium, London",60056.0,61.5,...,52.5092,-1.8847,161.639388,0.00,40.98,8,2.333333,3.000000,3,0
6899,Aston Villa,Liverpool,0,1,Tue 29 Dec 2009,1262115900000,Lee Probert,"Villa Park, Birmingham",42788.0,43.4,...,53.4308,-2.9608,125.477915,NaN,NaN,8,2.000000,2.000000,0,3
6913,Aston Villa,West Ham United,0,0,Sun 17 Jan 2010,1263735000000,Mike Jones,"Villa Park, Birmingham",35646.0,57.3,...,51.5386,-0.0164,167.649114,NaN,NaN,9,1.000000,1.333333,1,1
6923,Aston Villa,Arsenal,0,0,Wed 27 Jan 2010,1264621500000,Lee Probert,"Villa Park, Birmingham",39601.0,48.7,...,51.5550,-0.1086,161.639388,NaN,NaN,10,0.333333,2.333333,1,1
6929,Fulham,Aston Villa,0,2,Sat 30 Jan 2010,1264863600000,Lee Mason,"Craven Cottage, London",25408.0,54.1,...,52.5092,-1.8847,162.135406,NaN,NaN,11,0.000000,0.666667,0,3
6946,Tottenham Hotspur,Aston Villa,0,0,Sat 6 Feb 2010,1265477400000,Chris Foy,"White Hart Lane, London",35899.0,56.2,...,52.5092,-1.8847,160.383970,0.35,41.49,12,1.333333,1.666667,1,1
6954,Aston Villa,Manchester United,1,1,Wed 10 Feb 2010,1265831100000,Peter Walton,"Villa Park, Birmingham",42788.0,47.8,...,53.4631,-2.2914,109.612729,NaN,NaN,13,1.666667,3.000000,1,1
6966,Aston Villa,Burnley,5,2,Sun 21 Feb 2010,1266760800000,Stuart Attwell,"Villa Park, Birmingham",38709.0,47.9,...,53.7892,-2.2303,144.313941,NaN,NaN,14,1.666667,1.000000,3,0
6993,Stoke City,Aston Villa,0,0,Sat 13 Mar 2010,1268492400000,Kevin Friend,"bet365 Stadium, Stoke",27598.0,41.3,...,52.5092,-1.8847,56.818449,NaN,NaN,17,1.333333,1.666667,1,1
6998,Wigan Athletic,Aston Villa,1,2,Tue 16 Mar 2010,1268768700000,Steve Bennett,"DW Stadium, Wigan",16186.0,54.0,...,52.5092,-1.8847,126.578835,NaN,NaN,17,1.000000,1.666667,0,3
7000,Aston Villa,Wolverhampton Wanderers,2,2,Sat 20 Mar 2010,1269089100000,Mark Clattenburg,"Villa Park, Birmingham",37562.0,53.3,...,52.5903,-2.1303,18.947198,NaN,NaN,18,2.333333,1.000000,1,1
7010,Aston Villa,Sunderland,1,1,Wed 24 Mar 2010,1269459900000,Mike Dean,"Villa Park, Birmingham",37473.0,48.0,...,54.9144,-1.3883,269.694865,NaN,NaN,19,1.666667,2.333333,1,1
7016,Chelsea,Aston Villa,7,1,Sat 27 Mar 2010,1269702000000,Peter Walton,"Stamford Bridge, London",41825.0,60.4,...,52.5092,-1.8847,163.093243,NaN,NaN,20,2.333333,1.666667,3,0
7025,Bolton Wanderers,Aston Villa,0,1,Sat 3 Apr 2010,1270303200000,Mike Jones,"Macron Stadium, Bolton",21111.0,52.4,...,52.5092,-1.8847,126.971814,NaN,NaN,21,1.000000,0.666667,0,3
7041,Aston Villa,Everton,2,2,Wed 14 Apr 2010,1271270700000,Martin Atkinson,"Villa Park, Birmingham",38729.0,55.1,...,53.4389,-2.9664,126.427711,NaN,NaN,23,1.333333,1.666667,1,1
7051,Portsmouth,Aston Villa,1,2,Sun 18 Apr 2010,1271602800000,Lee Probert,"Fratton Park, Portsmouth",16523.0,42.7,...,52.5092,-1.8847,198.850232,NaN,NaN,24,0.666667,1.333333,0,3
7054,Hull City,Aston Villa,0,2,Wed 21 Apr 2010,1271875500000,Mike Dean,"KCOM Stadium, Hull",23842.0,49.9,...,52.5092,-1.8847,171.043114,NaN,NaN,24,0.333333,2.333333,0,3
7061,Aston Villa,Birmingham City,1,0,Sun 25 Apr 2010,1272193200000,Martin Atkinson,"Villa Park, Birmingham",42788.0,50.8,...,52.4757,-1.8682,3.892590,NaN,NaN,25,2.333333,0.666667,3,0
7066,Manchester City,Aston Villa,3,1,Sat 1 May 2010,1272722400000,Mark Clattenburg,"Etihad Stadium, Manchester",47102.0,53.9,...,52.5092,-1.8847,110.433417,NaN,NaN,26,1.333333,3.000000,3,0
7078,Aston Villa,Blackburn Rovers,0,1,Sun 9 May 2010,1273417200000,Steve Bennett,"Villa Park, Birmingham",41799.0,65.1,...,53.7286,-2.4892,141.610560,NaN,NaN,27,2.000000,1.333333,0,3

In [18]:
with open('PLmatches.csv', 'w') as open_file:
    df.to_csv(open_file)